*{
	margin: 0;
	padding: 0;
}
html{
	  overflow-x: hidden;
}
body{
	width: 100%;
	height: 100%;

}
#seta{
	width: 25px;
    height: 25px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    transform: rotate(270deg);
    transition: transform 0.6s;
}
#seta:hover{
	transform: rotate(90deg);
}
#logo{
	width: 210px;
	height: 210px;
}
.menu{
	width: 100%;
	background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(132,124,246,1) 0%, rgba(0,212,255,1) 100%);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container-organization{
	line-height: 190px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
@font-face{
    font-family: fjalla;
    src: url('../../../FONTES/FjallaOne-Regular.ttf');
}
@font-face{
    font-family: poiret;
     src: url('../../../FONTES/PoiretOne-Regular.ttf');
}
@font-face{
    font-family: kaushan;
    src: url('../../../FONTES/KaushanScript-Regular.ttf');
}
@font-face{
	font-family: texto;
	src: url("../../../FONTES/Quicksand-Light.ttf");
}
h1{
	font-family: poiret;
	font-size: 150px;
}
.citacao{
	font-size: 30px;
	font-family: kaushan;
	font-style: italic;
	text-align: center;
	font-weight: lighter;
}
.img{
	width: 80px;
	height: 80px;	
}
.conteudo{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.content{
	height: 100% !important;
	width: 100% !important;
	font-family: texto;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.text{
	width: 60%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.links-cont{
	width: 40%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	justify-content: space-around;

}
.links{
	text-decoration: none;
	color: rgb(8, 104, 135);
	font-family: fjalla;
}
h2{
	font-family: poiret;
	font-size: 50px;
	margin-top: 10px;
	border-bottom: 1px solid black;
}
.imagens{
	width: 300px;
	height: 300px;
}	
#admin-ajust{
	width: 420px;
	height: 420px;
}
#setaDois{
	width: 25px;
	height: 25px;
	position: fixed;
	left: 2;
	bottom: 40px;
}
@media (max-width: 1024px){
	h1{
		font-size: 220px;
	}
	#seta{
		display: none;
	}
	#setaDois{
		display: none;
	}
	.imagens{
		padding-bottom: 100px;
		width: 400px;
		height: 400px;
	}
	.citacao{
		font-size: 45px;
		margin-top: 10px;
	}
	#logo{
		margin-top: 30px;
		width: 400px;
		height: 330px;
	}
	.container-organization{
		height: 1100px;
	}
	.text{
		font-size: 60px;
		max-width: 100%;
		word-wrap: break-word;
		height: 500px;
		text-align: center;
		line-height: 50px; 
	}
	.links-cont{
		width: 40%;
		height: 500px;
		flex-direction: column;
		margin-top: 80px;
	}
	#mao{
		padding-bottom: 450px;
	}
	#admin-ajust{
		width: 700px;
		height: 700px; 
	}
	.links{
		font-size: 50px;
	}
	h2{
		font-size: 100px;
	}
	.content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#mao{
		padding-top: 300px;
	}
}
