*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,124,246,1) 0%, rgba(0,212,255,1) 100%);

}
.container{
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
form{
	width: 500px;
	height: 600px;
	background-color: rgba(13, 212, 208);
	border-radius: 40px;
}
.right-part{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
}

.img{
	width:	500px;
	height: 500px;
}
@font-face{
    font-family: fjalla;
    src: url('../../../FONTES/FjallaOne-Regular.ttf');
}
@font-face{
    font-family: poiret;
     src: url('../../../FONTES/PoiretOne-Regular.ttf');
}
@font-face{
    font-family: kaushan;
    src: url('../../../FONTES/KaushanScript-Regular.ttf');
}
#form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	background-color: rgba(144, 213, 245,0.2);
	border: 3px solid rgba(211, 232, 231,0.9);
}
.inputs{
	height: 50px;
	width: 450px;
	text-align: center;
	border: 3px solid rgba(144, 213, 245,0.9);
	background-color: rgba(225, 242, 250);
	border-radius: 5px;
	font-size: 25px;
	font-family: poiret;
}
.column-inputs{
	margin-top: 60px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#title{
	font-family: poiret;
	font-weight: bold;
	font-size: 70px;
	margin-top: 20px;
	height: 60px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
}
#btn{
	height: 47px;
	width: 200px;
	background-color: transparent;
	border: 3px solid rgba(211, 232, 231,0.9);
	border-radius: 5px;
	font-family: poiret;
	font-size: 25px;
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.5s;
}
#btn:hover{
	transform: scale(1.0);
}
.linkagem{
	line-height: 40px;
	border-bottom: 3px solid rgba(211, 232, 231,0.9);
}
.links{
	text-decoration: none;
	font-size: 25px;
	display: flex;
	justify-content: center;
	color: black;
	font-family: poiret;
	width: 100px;
}

.organization{
	border-top: 3px solid rgba(211, 232, 231,0.9);
	width: 100%;
	display: flex;
	justify-content: center;
}
@media (min-width: 360px) and (max-width: 1024px){
	.img{
		display: none;
	}
	.container{
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
#link-new-senha{
	text-align: center;
	margin-top: 20px;
}
#link-new-senha p a{
	color: white;
	font-family: fjalla;
	font-size: 17px;
	text-decoration: none;
}
@media (max-width: 1500px){
	#back1{
		font-size: 60px;
		font-weight: bold;
	}
	#back2{
		font-size: 60px;
		font-weight: bold;
	}
	.img{
		display: none;
	}
	.right-part{
		display: none;
	}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#title{
		font-size: 120px;
		height: 130px;
	}
	#form{
		border: none;
		width: 1000px;
		height: 1200px;
		background-color: transparent;
	}
	.column-inputs{
		height: 750px;
	}
	#btn{
		width: 400px;
		height: 80px;
		font-size: 50px;
		font-weight: bold;
	}
	.organization{
		height: 90px;
		border: none;
	}
	.linkagem{
		border: none;
	}
	.links{
		display: flex;
		width: 300px;
		font-size: 60px;
		align-items: center;
	}
	p{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
	}
	#link-new-senha p a{
		font-size: 40px;
	}
	.inputs{
		width: 850px;
		height: 80px;
		font-size: 50px;
		font-weight: bold;
	}
}