*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,124,246,1) 0%, rgba(0,212,255,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
@font-face{
    font-family: barlow;
    src: url('../../../FONTES/BarlowCondensed-Regular.ttf'); 
}
@font-face{
    font-family: poiret;
    src: url('../../../FONTES/PoiretOne-Regular.ttf');
}
@font-face{
    font-family: fjalla;
    src: url('../../../FONTES/FjallaOne-Regular.ttf');
}
form{
	width: 600px;
	height: 600px;
}
h2{
	text-align: center;
	font-family: poiret;
}
#back1{
	font-size: 30px;
}
#back2{
	font-size: 30px;
}
.organization{
	justify-content: space-between;
	justify-content: space-around;
}
