*{
    padding:0;
    margin: 0;
}
body{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face{
    font-family: barlow;
    src: url('../../../FONTES/BarlowCondensed-Regular.ttf'); 
}
@font-face{
    font-family: poiret;
    src: url('../../../FONTES/PoiretOne-Regular.ttf');
}
@font-face{
    font-family: fjalla;
    src: url('../../../FONTES/FjallaOne-Regular.ttf');
}
@font-face{
    font-family: kaushan;
    src: url('../../../FONTES/KaushanScript-Regular.ttf');
}
@font-face{
    font-family: texto;
    src: url("../../../FONTES/Quicksand-Light.ttf");
}
.box{
    background-image: url('../../../IMAGES/back-gallery.jpg');
    background-size: 100% 100%;
}
.word{
    font-family: poiret,cursive;
    text-align: center;
    font-size: 100px;
    height: 130px;
    display: flex;
    justify-content: center;
    transition: letter-spacing 0.8s;
    color: white;
}
.word:hover{
    letter-spacing: 20px;
    cursor: default;
}
#imagem-person{
    width: 40px;
    height: 40px;
    background-color: #caabae;
    border-radius: 30px;
    margin-left: 20px;
    border: 1px solid white;
    margin: 0 auto;
    transition: border 0.5s;
}
#container{
    font-weight: bold;
    margin-top: 50px;
    border-bottom: 2px solid white;  
    padding: 50px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
}
.container2{
    margin-top: 50px;
}


section{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;  
    height: 100%; 
}
.second-part{
    width: 100%;
    background-color: rgba(245, 186, 181);
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.svg-image{
    width: 670px;
    height: 600px;
    margin-left: 10px;
    margin-top: 20px;
}
.title{
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: kaushan, cursive;
    font-size: 95px;
    margin-top: 10px;
    margin-right: 80px;
    height: 150px;
    font-weight: lighter;
}
.transition a{
    transition: font-size 1s;
}
.transition a:hover{
    font-size: 34.2px;
}
.container-news-paper{
    width: 50%; 
    height: 100%;
}
.news-paper{
    color: black;
    font-size: 30px;
    font-family: fjalla, sans-serif;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}
.terceira-parte{
    width: 100%;
    background-color: rgba(219, 89, 79);
    height: 100%;
    display: flex;
    flex-direction: row;
}
.quarta-parte{
   width: 100%;
    background-color: rgba(252, 168, 93);
    height: 100%;
    display: flex;
    flex-direction: row; 
}
.meet-our-work{
    width: 100%;
    background-color: rgba(0,0,0);
    height: 100%;
    display: flex;
    flex-direction: row;
}
.conheca-title{
    margin-left: 65px;
    color: white;
    display: flex;
    font-weight: lighter;
    justify-content: center;
    width: 100%;
    font-family: kaushan, cursive;
    font-size: 95px;
    margin-top: 10px;
    margin-right: 80px;
    height: 260px;
}
#olhandoMonitor{
    width: 600px;
}
#img-row{
    width: 15px;
    height: 15px;
    transition: transform 0.6s;
    transform: rotate(180deg);
}
#img-row:hover{
    transform: rotate(90deg);
}
.images{
    display: flex;
    width: 100%;
    justify-content: center; 
}
.link-images{
    width: 180px;
    height: 180px;
    display: inline;
}
.images-organization{
    height: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    flex-direction: column;
}
.link-business{
    display: flex;
    justify-content: center;
}
#link-more{
    text-decoration: none;
    color: black;
    border-bottom: 3px solid black;
}
#link-port{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid white;
    transition: border 0.5s;
}
#link-port:hover{
    border-bottom: 3px solid transparent;
}
#dicas-link{
    text-decoration: none;
    color: white;
    font-family: fjalla;
    transition: letter-spacing 0.5s;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;

}
.links{
    text-decoration: none;
    color: white;
    transition: letter-spacing 0.5s;
    font-size: 20px;
}
.links:hover{
    letter-spacing: 2px;
}
.organization-navegation{
    width: 80%;
}
#vms{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: fjalla;

}
.navegation{
    width: 100%;
    display: flex;
    background-color: rgb(105, 92, 224);
    clear: both;
    height: 70px;
    align-items: center;
    justify-content: center;
}
#news-paper{
    height: 300px;
}
@media (max-width: 1183px) {
    .links{
        font-size: 30px;
    }
    #vms{
        font-size: 30px;
    }
    #img-row{
        width: 25px;
        height: 25px;
    }
    #container{
        display: flex;
        justify-content: center;
    }
    .main{
        background-size: cover;
    }
    .word{
        font-size: 110px;
    }
     #olhandoMonitor{
        display: none;
    }
    .container-news-paper{
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .left-image{
        display: none;
    }
    .conheca-title{
        text-align: center;
        font-size: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .svg-image{
        display: none;
    }
    .title{
        text-align: center;
        font-size: 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .news-paper{
        width: 100%;
        text-align: center;
        font-size: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    article{
        font-size: 30px;
        max-width: 100%;
        word-wrap: break-word;
    }
    #dicas-link{
        width: 100%;
    }
}
@media (max-width: 467px){
    .news-paper{
        display: flex;
        justify-content: center;
    }
    article{
        font-size: 25px;
        margin-left: 5px;
        max-width: 100%;
        word-wrap: break-word;
    }
    #dicas-link{
        width: 100%;
    }
    .word{
        font-size: 80px;
    }
    .box{
        background-attachment: cover;
        background-attachment: contain;
    }
    .organization-navegation{
        width: 100%;
    }
    #link{
        font-size: 20px;
    }
    #vms{
        font-size: 20px;
    }
}

@media(min-width: 1024px){
    .links{
        font-size: 35px;
    }#vms{
        font-size: 35px;
    }
}
