*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	margin-top: 16%;
}
@font-face{
    font-family: fjalla;
    src: url('../../../FONTES/FjallaOne-Regular.ttf');
}
@font-face{
    font-family: poiret;
    src: url('../../../FONTES/PoiretOne-Regular.ttf');
}
@font-face{
	font-family: texto;
	src: url("../../../FONTES/Quicksand-Light.ttf");
}
header{
	width: 100%;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,124,246,1) 0%, rgba(0,212,255,1) 100%);
	height: 15%;
	display: flex;
	justify-content: center;
	flex-direction: row;	
	position: fixed;
	top: 0;
	justify-content: space-around;
}
#button-nav{
	display: flex;
	align-items: center;
	text-decoration: none;
	width: 15%;
	justify-content: center;
	transform: scale(1.0);
	transition: transform 0.6s;;
}
#logo{
	width: 100px;
	height: 100px;
}
.header-components{
	display: flex;
	flex-direction: row;
	width: 75%;
	justify-content: space-between;
	align-items: center;
}
#header-components{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;
	align-items: center;
}
#row-back{
	width: 20px;
	height: 20px;
	position: fixed;
	left: 7px;
	top: 45px;
}
h1{
	font-family: poiret;
	font-size: 50px; 
	transition: letter-spacing 0.5s;
}
h1:hover{
	letter-spacing: 1.5px;
}
.card{
	width: 70%;
	height: 95%;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 18px;
}
.card-organization{
	width: 50%;
	height: 90%;
	display: flex;
	justify-content: left;
	flex-direction: column;
}
.center{
	height: 160px;
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}
.first-visual{
	display: flex;
	flex-direction: row;
	height: 85%;
	width: 100%;
	max-width: 1172px;
	justify-content: center;
	margin: 0 auto;
}
.text{
	width: 50%;
	height: 58%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	word-wrap: break-word;
	justify-content: flex-end;
}
.reform{
	height: 10%;
	max-width: 50%;
}
#text-reform{
	max-width: 90%;
	word-wrap: break-word;
	margin-right: 0px;
	text-align: right;
}
#center-text{
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#text-desc{
	margin-top: 30px;
	max-width: 90%;
	word-wrap: break-word;
}
#user-img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: white;
}
.text-organization{
	font-size: 26px;
	color: black;
	font-family: texto;
	text-align: center;
}
.imgs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1172px;
	margin: 0 auto;
	height: 50%;
}
.imgs > img{
	flex: 1 1 200px;
	margin: 10px;
}
#fotos{
	height: 100%;
	width: 100%;
}
.img{
	width: 50px;
	height: 250px;
	max-width: 100%;
}
.text-bottom{
	max-width: 1172px;
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	margin: 0 auto;
	word-wrap: break-word;
}
.text-align{
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: right;
}
#text-align-right{
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: flex-end !important;
}
#text-left{
	text-align: left;
	margin-left: 15px;
}
footer{
	background-color: black;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#slogan{
	text-align: center;
	font-family: texto;
	font-size:30px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}
.button{
	width: 150px;
	height: 50px;
	font-family: texto;
	background-color: lightgreen;
	border-color: lightgreen;
	border-radius: 3px;
	font-size: 23px;
	font-weight: bold;
	transform: scale(1.0);
	transition: border 0.5s, transform 0.6s;
	border: 2px solid lightgreen;
}
.button:hover{
	cursor: pointer;
	border: 2px solid green;
	transform: scale(1.1);
}
.button:focus{
	outline: 0;
}
#imagem-person{
	width: 40px;
    height: 40px;
    background-color: #caabae;
    border-radius: 30px;
    margin-left: 20px;
    border: 1px solid white;
    margin: 0 auto;
}
#a{
	color: black;
	background-color: orange;
}

#word{
	color: white;
}
.bottom-text{
	font-size: 26px;
	font-family: texto;
	height: 280px;
	word-wrap: break-word;
	max-width: 90%;
	text-align: justify-all;
}
#um{
	text-align: justify;
	margin-right: 15px;
}
@media (max-width: 1024px){
	#logo{
		width: 170px;
		height: 170px;
	}
	h1{
		font-size: 60px;
	}
	.button{
		width: 190px;
		height: 60px;
		font-size: 30px;
	}
	#row-back{
		position: fixed;
		top: 90px;
	}
	.center{
		margin-top: 150px;
	}
	#user-img{
		width: 180px;
		height: 180px;
		margin-top: 60%;
	}
	#center-text{
		height: 430px;
	}
	#text-desc{
		font-size:40px;
		margin-top: 47%;
	}
	.text{
		margin-top: 10px;
		height: 85%;
		justify-content: center;
	}#text-reform{
		font-size: 40px;
	}
	.imgs{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.img{
		width: 350px;
	}
	.imgs > img{
		flex: 1 1 200px;
		margin: 10px;
	}
	.text-align{
		display: flex;
		justify-content: center;
	}
	.bottom-text{
		margin-top: 30px;
		font-size: 40px;
		justify-content: center;
	}
	#um{
		margin: 0 auto;
	}
	footer{
		height: 170px;
	}
	#word{
		font-size: 60px;
	}
}
