*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: bonitin;
	src: url("../../../FONTES/FjallaOne-Regular.ttf");
}
@font-face{
	font-family: texto;
	src: url("../../../FONTES/Quicksand-Light.ttf");
}
html{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,124,246,1) 0%, rgba(0,212,255,1) 100%);
	overflow-x: hidden;
	overflow-y: hidden;
}
body{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
textarea{
	border: 3px solid white;
	background-color: rgb(179, 216, 227);
	border-radius: 5px;
	max-width: 310px;
	max-height: 36px;
	min-width: 310px;
	min-height: 36px;
	width: 310px;
	font-size: 15px;
}
form{
	width: 70%;
	height: 90px;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 60px;
	border-left: none;
	border-right: none;
}
#form-one{
	border-radius: 5px 5px 0px 0px;
	border-top: none;
}
#form-two{
	border-radius: 0px 0px 5px 5px;
	border-bottom: none;
}
section{
	width: 950px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid white;
	height: 
}
label{
	font-family: bonitin;
	font-size: 25px;
	display: flex;
	color: white;
	width: 150px;
}
input[type='text']{
	border-bottom: 1px solid white;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent; 
	background-color: transparent;
	color: white;
	font-family: texto;
	width: 310px;
	font-size: 25px;
}
input[type='text']:focus{
	border-left: none;
	border-right: none;
	border-top: none;
	outline: 0;
	border-bottom: 3px solid white;
}

input[type='submit']{
	width: 90px;
	height: 30px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	transform: scale(1.1);
	transition: transform 0.2s;
	font-family: texto;
	font-size: 20px;
	border-radius: 10px;
}
input[type='submit']:hover{
	cursor: pointer;
	transform: scale(1.2);
}
input[type='submit']:focus{
	outline: 0;
}
.btn-back{
	width: 200px;
	border-radius: 10px;
	background-color: transparent;
	font-size: 20px;
	color: white;
	font-family: bonitin;
	height: 40px;
	transform: scale(0.99);
	border: 3px solid white;
	transition: transform 0.6s;
	margin-bottom: 20px;
	margin-top: 10px;
}
.btn-back:hover{
	cursor: pointer;
	transform: scale(1.09);
}
#btns{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-content: space-around;
	width: 70%;
	height: 55px;
	align-items: center;
	margin-top: 3px;
}
.button{
	width: 90px;
	height: 30px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	transform: scale(1.1);
	transition: transform 0.2s, border 0.6s, color 0.6s;
	font-family: texto;
	font-size: 20px;
	border-radius: 10px;
}
.button:hover{
	cursor: pointer;
	transform: scale(1.2);
}
.button-delete{
	width: 90px;
	height: 30px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	transform: scale(1.1);
	transition: transform 0.2s, border 0.6s, color 0.6s;
	font-family: texto;
	font-size: 20px;
	border-radius: 10px;
}
.button-delete:hover{
	cursor: pointer;
	transform: scale(1.2);
	border: 2px solid rgb(214, 122, 134);
	color: rgb(214, 122, 134);
}
.div{
	margin-left: 10px;
	width: 340px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}
.inserirDiv{
	margin-left: 10px;
	width: 340px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}
#one-form{
	border-bottom: 3px solid transparent;
	width: 29%;
	height: 80px;
}
.second-form{
	border-bottom: 3px solid transparent;
	width: 29%;
	height: 80px;
}
#two{
	height: 50px;
}
#three{
	height: 60px;
}
#four{
	height: 60px;
}
#five{
	height: 60px;
}
#six{
	height: 60px;
}
#seven{
	height: 60px;
}
#eight{
	height: 60px;
}
#nine{
	height: 60px;
}
#ten{
	height: 60px;
}
#eleven{
	height: 60px;
}
.form-one{
	margin-top: px;
}
#one-form{
	height: 60px;
}
.btn-inserir{
	transition: color 0.6s, border 0.6s;
}
.btn-inserir:hover{
	color: rgb(250, 228, 195);
	border: 2px solid rgb(250, 228, 195);
}
@media (max-width: 1500px){
	label{
		width: 220px;
		font-size: 40px;
	}
	input[type='submit']{
		width: 140px;
		height: 45px;
		font-size: 25px;
		font-weight: bold;
	}
	.div{
		width: 290px;
		margin-right: 40px;
	}
	.inserirDiv{
		justify-content: center;
	}
	.btn-back{
		width: 240px;
		height: 55px;
		font-size: 30px;
		font-weight: bold;
	}
	textarea{
		max-height: 45px;
		height: 40px;
	}
}