*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,124,246,1) 0%, rgba(0,212,255,1) 100%);
	width: 100%;
	height: 100%;
}
.body-port{
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}
.body-port div{
	flex: 1 1 200px;
	margin: 10px;
}
.body-port div img{
	max-width: 100%;
	display: block;
	border: 5px solid rgba(211, 232, 231,0.9);
	width: 256.67px;
	height: 338.77px;
	margin: 0 auto;
}
@font-face{
    font-family: kaushan;
    src: url('../../../FONTES/KaushanScript-Regular.ttf');
}
@font-face{
    font-family: poiret;
    src: url('../../../FONTES/PoiretOne-Regular.ttf');
}
.logo{
	width: 60px;
	height: 60px;
	border: 3px solid transparent;
}
.title{
	font-family: poiret;
	text-align: center;
	font-size: 80px;
	margin-top: 20px;
	color: black;
	border-bottom: 5px solid black;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.title > img{
	padding: 10px;
	padding-left: 20px;
}
#backRow{
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 20px;
	height: 20px;
 }
